
footer {
    background-color: $colorbg;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;

    @media ($telaspequenas) {
        align-items: center;
        address {
            padding: 20px;
            border-right: 1px solid $color-white;
            border-left: 1px solid $color-white;
        }
    }

    .fim {
        display: flex;
        justify-content: space-between;
        margin: 80px 200px;
        h5 {
            @include Font(left, $color-white, 30px, bold)
        }
        p {
            @include Font(left, $color-white, 18px, bold)
        }
    }
    .redes {
        margin: 0 auto;
        a {
            margin: 8px;
            img {
                width: 60px;
                @media($telaspequenas) {
                    width: 40px;
                }
            }
        }
        .dev {
            margin-top: 10px;
            @include Font(center, $color-white, 18px, bold);
            a {
                color: $color-white;
            }
        }
    }
}