

.position {
    padding-top: 70px;
    background-color: $colorbg;
    .instrutores {
        border-top: 2px solid $color-top;
        @include Font(center, #fff, 50px, light);
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .aside1 {
    width: 80%;
    height: 350px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    
    @media ($telaspequenas) {
        // width: $width-responsivo;
        flex-direction: column;
        margin-top: 300px;
        margin-bottom: 400px;

        .img-instrutores {
            padding: 10px;
        }
    }
    
    .img-instrutores {
        position: relative;
        .personal {
            width: 300px;
            height: 300px;
            border-radius: 50%;
            object-fit: cover;
            object-position: top;
        }

        .img-redes {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 90px;
            bottom: 20px;
        }
    }
    }
    .aside2 {
        width: 100%;
        height: 600px;
        margin-top: 70px;

        @media ($telaspequenas) {
            margin-bottom: 1300px;
        }

        h4 {
            @include Font(center, #eaeaea, 35px, light);
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border-top: 2px solid $color-top;
        width: 20%;
        margin: auto;
        padding-top: 5px;

            @media ($telaspequenas) {
                width: 50%;
            }

        }
        .depoimentos-clientes {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-top: 60px;

            @media ($telaspequenas) {
                flex-direction: column;
                align-items: center;
            }

            .position-p {
                width: 200px;
                .depoimentos-img {
                    border-radius: 30px;
                }
                .p-aside2 {
                    @include Font(left, #e5e5e5, 18px, bold)
                }
            }
        }
    }
    .video {
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
        iframe {
            box-shadow: 5px 3px 1px #08080885;
        }
    }
    .mapa {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }
}